body {
    background-image:
        url("https://img.freepik.com/premium-photo/parcels-box-cardboard-boxes-online-delivery-transportation-logistics-concept-pink-background-3d-rendering-illustration_56104-1290.jpg?w=740");
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
div{text-align:center}