body {
    background-image:
        url("https://img.freepik.com/premium-photo/3d-factory-concept-3d-render_1119-2759.jpg?w=740");
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 545px;
    margin-top: 262px;
}
div{text-align:center}